html {
  background-color: hsl(185, 41%, 84%);

  margin:0;
}
.App {
 display: flex;
 flex-direction: column;
  width: 100vw;
  height: 100vh;
}

div.img{
  height: 25vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

section.mainCard {
  background-color: hsl(189, 41%, 97%);
  width: 100%;
  max-width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}